html {
  box-sizing: border-box;
}

body {
  color: white;
  background-color: #030303;
}

img {
  width: 100%;
  height: auto;
  border-radius: 1%;
}

.container {
  max-width: 50em;
  max-height: 60em;
  margin: 0 auto;
  padding-top: 1em;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 5fr 1fr;
  row-gap: 2em;
  grid-template-areas:
    "img img"
    "docket slider";
}

.image {
  grid-area: img;
}

.docket {
  grid-area: docket;
}

.slider {
  grid-area: slider;
  justify-self: end;
}
